@import '../variables.scss';

.Footer {
  .nav-bottom {
    background-color: $dark;
    margin: 0;
    padding: 0;
    color: $light;
    font-size: 1.1rem;
  }

  div.footer {
    height: 3.5rem;
    padding: 1rem 1rem;
  }

  @media (min-width: 768px) {
    /* > sm */

    div.footer {
      padding: 1rem 0;
    }
  }
}
